/**
 * Place your custom styles here.
 */
/* nav */

.navbar-nav {
  float: none;
}

.navbar-nav li.last {
  float: right;
}

html {
	height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: #2981ce; /* Old browsers */
	background: -moz-linear-gradient(45deg, #2981ce 0%, #70d170 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #2981ce 0%,#70d170 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #2981ce 0%,#70d170 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2981ce', endColorstr='#70d170',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body.front .page-header {
	display: none;
}

#navbar.fixed{
  position:fixed;
  z-index: 9999;
  top:0;
}