@charset "utf-8"; /* CSS Document */
html {
  display: flex;
  flex-wrap: wrap;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

body {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: flex-end;
}

body,
html {
  height: 100% !important;
}

.tracktitle {
  margin-bottom: 5%;
  font-size: 2rem !important;
}

.cover-image {
  flex-grow: 3; 
  margin: 0 auto; 
  display: flex; 
  flex-flow: column;
  width: 85%;
  padding: 2% 0 5% 0;
}

.cover-image-src {
  display: flex;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.audio-player {
  text-align: center;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  width: 85%;
  color: #fff;
  font-family: 'Montserrat';
  flex-grow: .5;
}
.audio-player .album-image {
  min-height: 100px;
  width: 100px;
  background-size: cover;
}
.audio-player .player-controls {
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  flex: 3;
}
.audio-player .player-controls progress {
  width: 100%;
}
.audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #fff;
  height: 14px;
}
.audio-player .player-controls progress[value]::-webkit-progress-bar {
  background-color: #333;
  border-radius: 2px;
  color: #222;
}
.audio-player .player-controls progress::-webkit-progress-value {
  background-color: #fff;
}
.audio-player .player-controls p {
  font-size: 1.2rem;
}
.audio-player #play-btn {
  color: #fff;
  cursor: pointer;
  font-size: 5rem;
  position: relative;
  top: 60px;
}

